.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
  align-items: center;
}

@media (max-width: 996px) {
  .App {
    flex-direction: column;
  }

  .App-link {
    color: #61dafb;
    padding: 10px 20px;
  }


}